{% extends "base.html" %}

{% block title %}Contact Us - InterViewPoint {% endblock %}

{% block content %}
<div class="container mt-4 info-section">
    <h2 class="mb-4">Contact Us</h2>
    <p>We're here to help! If you have any questions, feedback, or need support, please feel free to reach out to us. We value your input and strive to improve your experience on InterViewPoint .</p>
    
    <div class="contact-details mt-5">
        <p><strong>Email:</strong> <a href="mailto:support@interviewpoint.com">support@interviewpoint.com</a></p>
        <p><strong>Phone:</strong> +91 12345 67890</p>
        <p><strong>Address:</strong> IIIT Surat, Kamrej , Surat, Gujarat 395007</p>
    </div>

    <h3 class="mt-5 mb-3">Feedback & Support</h3>
    <p>Your feedback is invaluable. If you encounter any issues, have suggestions for new features, or simply want to share your success story, please don't hesitate to email us. We aim to respond within 24-48 business hours.</p>

    <p class="mt-4">Thank you for being a part of the InterViewPoint community!</p>
</div>
{% endblock %}